@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .nav-link{
        @apply hover:text-appprimary-600 transition-colors text-xl p-2 text-center text-nowrap w-fit
    }
    
    .nav-link.active{
        @apply border-appprimary-900 dark:text-appprimary-300 dark:border-appprimary-300 text-appprimary-900 border-b-2
    }

    .text-gradient{
        @apply bg-gradient-to-l from-primary to-secondary bg-clip-text text-transparent hover:text-primary ease-in-out duration-500
    }

    .section-header{
        @apply text-start lg:text-center my-10 text-3xl uppercase text-gradient font-semibold
    }
}


body{
    background-image: radial-gradient(circle, #fff 2px, rgba(0,0,0,0) 2px);
    height: 100dvh;
    background-size: 100px 100px;
    overflow: hidden;
}


html{
    background-image: url("/images/background.webp");
    overflow: hidden;
}

  